/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-grey-soft: #EDEDE9;
  --vt-c-brown-soft: #d6ccc2;
  --vt-c-cream-soft: #f5ebe0;
  --vt-c-cream-dark: #e3d5ca;
  --vt-c-brown-dark: #c7a896;
  --vt-c-brown-shadow: #64544a;

  --vt-c-grey-light-1: #869271;
  --vt-c-grey-light-2: #588157;
  --vt-c-grey-light-3: #3a5a40;
  --vt-c-grey-light-4: #344e41;

  
  --info: #506337;
  --warning: #aa9b43;
  --error: #c74662;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-brown-dark);
  --color-background-soft: var(--vt-c-brown-soft);
  --color-background-soft-2: var(--vt-c-cream-soft);
  --color-container: var(--vt-c-cream-dark);
  --color-shadow: var(--vt-c-brown-shadow);

  --color-heading: var( --vt-c-grey-light-3);
  --color-text: var(--vt-c-grey-light-2);
  --color-text-detail: var(--vt-c-grey-light-1);
  --color-link: var(--vt-c-grey-light-4);

  --color-border: var(--vt-c-brown-soft);

  --section-gap: 160px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: thaiFont;
  src: url('@/assets/fonts/NotoSerifThai.ttf');
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: thaiFont;
  font-size: 18px;
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}